In [31]:
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [17]:
#Q!
i = 1
while i <=10:
    print(i,'X 10 =',i*10)
    i = i+ 1

1 X 10 = 10
2 X 10 = 20
3 X 10 = 30
4 X 10 = 40
5 X 10 = 50
6 X 10 = 60
7 X 10 = 70
8 X 10 = 80
9 X 10 = 90
10 X 10 = 100

In [21]:
#Q2
n = 4
for i in range(n):
    for j in range(i+1):
        print(" ", end = " ")
    for j in range(i,n):
        print("1", end = " ")
    print()

  1 1 1 1
    1 1 1
      1 1
        1

In [36]:
#Q3
num = 5

sum = 0
for i in range(num):
    sum = sum+i
print(sum)

10

In [40]:
#Q4
table = int(input("enter the number"))
i =1
while i <= 10:
    print(table,'X ',i,'=', i*table )
    i = i+ 1

enter the number10
10 X  1 = 10
10 X  2 = 20
10 X  3 = 30
10 X  4 = 40
10 X  5 = 50
10 X  6 = 60
10 X  7 = 70
10 X  8 = 80
10 X  9 = 90
10 X  10 = 100

In [44]:
#Q5
list = [12,13,14,15,16,17,180]
for i in (list):
    print(i)
    i = i+1

12
13
14
15
16
17
180

In [4]:
#Q6
num = 123456
print(len(str(num)))

6

In [50]:
#8
original_list = [1, 2, 3, 4, 5]
print("List before reverse : ",original_list)
reversed_list = []
for value in original_list:
    reversed_list = [value] + reversed_list
print("List after reverse : ", reversed_list)

List before reverse :  [1, 2, 3, 4, 5]
List after reverse :  [5, 4, 3, 2, 1]

In [68]:
ol = []
i = 0
for i in range(1,12):
    ol.append(i)
    i = i+1
ol

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [11]:
#9 
for i in range(-10,0):
    print(i,end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [73]:
#10
n =  6
if n<5:
    print("not done")
else:
    print("done")

done

In [48]:
#11
num = 45
for i in range(2,num):
    if num % i == 0:
        print("not prime")
        break
else:
    print("prime")

not prime

In [16]:
#12
num = 10
a=0
b=1
print(a)
print(b)
for i in range(2,num):
    c = a+b
    a=b
    b=c
    print(c)

0
1
1
2
3
5
8
13
21
34

In [80]:
#13
n = int(input("Enter a number:"))
factorial = 1
if n >= 1:
    for i in range (1, n+1):
        factorial = factorial *i
print ("Factorial of the given number is: ", factorial)

Enter a number:5
Factorial of the given number is:  120

In [50]:
#14 
num = 234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 432

In [ ]:
# 16

In [57]:
#17
num = 10
sum = (num*(num+1))/2
print(sum)

55.0

In [56]:
my_list = [31, 42, 13, 34, 85, 0, 99, 1, 3]
print("The elements in odd positions are : ")
for i in range(1, len(my_list), 2):
    print(my_list[i])

The elements in odd positions are :
42
34
0
1